--extra-index-url https://download.pytorch.org/whl/cpu
torch
openai-whisper
imageio-ffmpeg
requests
youtube-transcript-api
python-dotenv
boto3
psycopg2-binary
pydantic
tiktoken
supabase
fastapi
uvicorn
yt-dlp
openai
python-json-logger
