@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: #FCFCFC;
  --color-foreground: #111111;
  --color-border: #E5E5E5;

  --color-muted: #F3F4F6;
  --color-muted-foreground: #6B7280;

  --color-accent: #F9FAFB;
  --color-accent-foreground: #111827;

  --color-brand: #111111;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-sans: var(--font-inter), system-ui, sans-serif;
  --font-serif: var(--font-serif), Georgia, serif;

  --shadow-micro: 0 1px 2px rgba(0, 0, 0, 0.02), 0 1px 3px rgba(0, 0, 0, 0.02);
  --shadow-soft: 0 2px 4px rgba(0, 0, 0, 0.03), 0 4px 12px rgba(0, 0, 0, 0.03);
}

:root {
  --radius: 0.5rem;
}

@layer base {

  *,
  ::before,
  ::after {
    border-color: var(--color-border);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    letter-spacing: -0.015em;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: -0.015em;
    font-weight: 500;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}